<h1>One Player</h1>
<form action="/results">
  <div class="form-group">
     <label for="player_1">Enter rock-paper-scissors!
</label>
     <input id="player_1" name="player_1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Let's play!</button>
</form>
